[submodule "chore-master-js"]
	path = chore-master-js
	url = git@github.com:chore-master/chore-master-js.git
[submodule "chore-master-python"]
	path = chore-master-python
	url = git@github.com:chore-master/chore-master-python.git
